:root {
  --base-color: #09647901;
  --complement-orange: #C45C00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  width: 100%;
  padding: 10% 25%;
  background: rgb(3, 2, 17);
  background: linear-gradient(90deg, rgba(3, 2, 17, 1) 0%, rgba(9, 121, 86, 1) 34%, rgba(9, 100, 121, 1) 75%, rgba(1, 20, 14, 1) 100%);
  background: -o-linear-gradient(90deg, rgba(3, 2, 17, 1) 0%, rgba(9, 121, 86, 1) 34%, rgba(9, 100, 121, 1) 75%, rgba(1, 20, 14, 1) 100%);
  background: -moz-linear-gradient(90deg, rgba(3, 2, 17, 1) 0%, rgba(9, 121, 86, 1) 34%, rgba(9, 100, 121, 1) 61%, rgba(1, 20, 14, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(3, 2, 17, 1) 0%, rgba(9, 121, 86, 1) 34%, rgba(9, 100, 121, 1) 75%, rgba(1, 20, 14, 1) 100%);
}

form {
  background-color: rgb(125, 177, 194, .5);
  border-radius: 10px;
  padding: 1em;
}

form ul {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

form h1 {
  text-align: center;
}

fieldset {
  margin: 1em 1em 1em 1em;
  border: none;
}

legend {
  width: 100%;
  border-bottom: 2px solid rgba(1, 20, 14, 1);
  padding-bottom: .2em;
  margin-bottom: .3em;
}

/* input, select, ... should have 100% width */
input,
select {
  width: 100%;
}


/* Contact Details */
form #contact-details ul {
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: column;
}

form #contact-details #form__li-3 {
  grid-row: 3/ span 6;
  grid-column: 1/2;
}

#twitter__username-prefix {
  display: flex;
}
