:root {
  --base-color: rgb(9, 101, 121);
  --complement-orange: rgb(196, 92, 0);
  --complement-brown: #783c08;
  --analogous-green: #038555;
  --analogous-blue-green: #038F83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  width: 100%;
  padding: 10% 25%;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

form {
  background-color: rgb(125, 177, 194, .5);
  border-radius: 10px;
  padding: 1em;
}

form ul {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}


fieldset {
  border: none;
}

legend {
  width: 100%;
  border-bottom: 2px solid rgba(1, 20, 14, 1);
  padding-bottom: .2em;
  margin-bottom: .3em;
}

/* input, select, ... should have 100% width */
input,
select {
  width: 100%;
  background-color: rgb(232, 240, 254);
}


/* Contact Details */
form #contact-details ul {
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: column;
}

form #contact-details #form__li-3 {
  grid-row: 3/ span 6;
  grid-column: 1/2;
}

.input-prefix-suffix {
  display: flex !important;
}

/* Order Details */

#order-details table {
  width: 100%;
}

#order-details thead,
tfoot {
  background-color: #4DD8FF;
}

#order-details table tbody tr {
  background-color: #00A0CC;
}

#order-details table td {
  text-align: left;
  padding-left: 5px;
}

#price,
#total,
#order-details td[headers="price"],
#order-details td[headers="all-total total"],
#order-details td[headers="total"] {
  text-align: right;
  padding-right: 5px;
}

#quantity, 
td[headers="quantity"] input {
  max-width: 60px;
  min-width: 30px;
}
td[headers="quantity"] input{
  display: block;
  margin: auto auto;
}

/* Payment Details */

#payment-details .input-prefix-suffix input {
  width: 35% !important;
}

/* Buttons */

#buttons {
  position: relative;
  width: 100%;
  padding-top: .4em;
  margin-top: .8em;
  border-top: 2px solid black;
  height: 30px;
}

#buttons button {
  background-color: #4DD8FF;
  padding: .5em;
  border: 1px solid #4DD8FF;
  border-radius: 3px;
  box-shadow: 0px 2px 2px  #006480;
}
#btn__submit-order {
  position: absolute;
  right: 0;
}

#btn__save-order {
  position: absolute;
  right: 100px;
}